@use "../abstracts/variables";

ion-card {
    border-radius: var(--ion-border-radius);
    background: var(--ion-card-background);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

ion-card-header {
  padding-bottom: variables.$space-sm;
}

ion-card-title {
    font-weight: 600;
    text-align: center;
}

ion-card-content {
    padding-top: 0;
}
