SECRET_KEY=nahrad-silnym-nahodnym-klicem
DEBUG=False
ALLOWED_HOSTS=babylog.cz
DATABASE_URL=postgres://babylog_user:silne_heslo@db:5432/babylog_db

POSTGRES_DB=babylog_db
POSTGRES_USER=babylog_user
POSTGRES_PASSWORD=silne_heslo