// colors
$color-bg-app: #fffafd;
$color-text-main: #3a3a3a;
$color-card-bg: #ffffff;

// radius
$radius-sm: 10px;
$radius-md: 14px;
$radius-lg: 18px;

// spacing
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;
