/* STATUS CARD */
.status_card {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  margin-top: 0;
  margin-bottom: 0;
}

.status_card ion-card-header {
  padding: 8px 12px 4px;
}

.status_card ion-card-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.status_card ion-card-content {
  padding: 4px 12px 8px;
  font-size: 15px;
}

.status_card .empty {
  text-align: center;
}

.status_grid ion-row {
  margin-bottom: 6px;
  /* padding: 0px; */
}

.status_grid ion-row:last-child {
  margin-bottom: 30px;
}

/* BUTTON */
.button_grid {
  padding: 10px;
}

.button_grid ion-row {
  margin-bottom: 20px;
}

.button_grid ion-col {
  padding: 10px;
}

.action_btn {
  height: 80px;
  font-size: 16px;
  font-weight: 600;
  --border-radius: 30px;
}

.action_btn.eat {
  --background: #e3f2fd;
  --color: #0d47a1;
}

.action_btn.sleep {
  --background: #ede7f6;
  --color: #311b92;
}

.action_btn.awake {
  --background: #e8f5e9;
  --color: #1b5e20;
}

.action_btn.diaper {
  --background: #fffde7;
  --color: #f57f17;
}

